.carousel-inner{
     width: 60%;
     align-items: center;
    background-color:rgb(7, 13, 37); 
}
.type{
    margin-top: 5%;
    padding-top: 1.5%;
    text-align: center;
    height: 9%;
    background-color: rgb(172, 172, 172)
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}
.types{
    width:auto;
    background-color: rgb(133, 125, 130);
}
